.button.answering {
  background-color: $answering;
  border-color: $answering;
}

.button.managing {
  background-color: $managing;
  border-color: $managing;
}

.button.results {
  background-color: $results;
  border-color: $results;
}

.button {
  margin: auto;
  width: 90%;
  padding: 10px;
  border-radius: .4rem;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

input.button {
  margin: 0;
  width: 171px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #9b4dca;
  border: 0 solid #9b4dca;
  cursor: pointer;
}



.button:hover {
  background-color: $hover;
}




