@import "Color";
@import "Header";
@import "Button";
@import "Exercise";


body {
  margin: 0;
  color: $text;
  font-family:'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }

}

.container {
  margin: auto;
  max-width: 112.0rem;
  width: 95%;
}


div.column{
  display: flex;
  width: 100%;
  flex-direction: column;
}

h1 {
  font-size: 4.6rem;
  margin: 0;
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.embed {
  background-color: #eee;
  width: 100%;
  height: auto;
  margin: auto;
}

.button-container .answering.button {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}